
    <div class="modal-header">
        <h3 class="modal-title">Add a Signature Date</h3>
    </div>
    <div class="modal-body">
        <div ng-controller='DatepickerDemoCtrl'>
            <div class="row">
                <div class="col-xs-10">
                    <p class="input-group">
                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok();signed=true" >OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
   