<div ng-init='mainViewSelected=true' ng-show='mainViewSelected==true' >
	<div class='container' style='padding-top:15px' ng-init='vCycle=1' >
		<div class='row'>
			<div class='col-xs-1'>
				<h4>Year</h4>	
			</div>
			<div class='col-xs-2' >
				<select class='form-control' ng-click="csAlert()">
					<option selected>2014</option>
					<option>2013</option>
					<option>2012</option>
					<option>2011</option>
				</select>
			</div>
			<div class='col-xs-3 pull-right'>
			
					<h5>
					<span ng-if='vCycle==1'>Unvalidated</span>
					<span ng-if='vCycle==2'>Pending</span>
					<span ng-if='vCycle==3'>Approved</span>
					<span ng-if='!signed'>& Unsigned</span>
					<span ng-if='signed'>& Signed on 09/25/14</span>
					</h5>
				
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-1'>
				<h4>Policy</h4>	
			</div>
			<div class='col-xs-2'>
				<select ng-click="csAlert()" class='form-control' ng-init="initial = grower.policies[0].number" ng-model='initial' ng-options='policy.number as policy.number for policy in grower.policies'>
					
				</select>
			</div>
			<div class='col-xs-2'>
				<button type="button" class="btn btn-default" ng-click="openEmailModal()">
	        		Email
	    		</button>
	    		<button type="button" class="btn btn-default" ng-click="openPrintModal()" >
	        		Print
	    		</button>
			</div>
			<div class='col-xs-6 col-xs-offset-1 '>
				<div class='pull-right'>
					<button type="button"  ng-disabled='vCycle==2' class="btn btn-primary" ng-click='validation(vCycle)' >
		        		<span  >Validate</span>
		    		</button>
					<div class="btn-group" dropdown>
				      <button type="button" class="btn btn-danger" ng-click='signed=true;mainViewSelected=false'>Digitally Sign</button>
				      <button type="button" class="btn btn-danger dropdown-toggle">
				        <span class="caret"></span>
				        <span class="sr-only">Split button!</span>
				      </button>
				      <ul class="dropdown-menu" role="menu">
				        <li><a ng-click='signed=true'>Digitally Sign</a></li>
				        <li><a ng-click='openSigModal()'>Add Signature Date</a></li>
				        <li><a ng-click='openUploadModal()'>Upload Signed Application</a></li>
				      </ul>
				    </div>
				</div>
			</div>
		</div>

		<div class='row' ng-repeat='coverage in coverages'>
			<div class='col-xs-5'><h4>{{coverage.county}}, {{grower.policies[0].state}} {{coverage.crop}}<h4></div>
			<div class='row' ng-repeat='database in coverage.databases'>
				<div class='col-xs-12'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<div class='col-xs-2' style='padding-left:0px'>
								<p>Unit: {{database.unit}}<p>
								<p>Practice: {{database.practice}}<p>
								<p>Type: {{database.type}}<p>
								<a ng-click='seeDetails=true' ng-show='!seeDetails' ng-init='!seeDetails'>Details</a>
								<div ng-show='seeDetails' class='legals'>
									<p>Legals</p>
									<p ng-repeat='legal in database.legals'>{{legal}}</p>
									<a ng-click='seeDetails=false' ng-show='seeDetails' >Collapse Details</a>
								</div>
 
							</div>
							<div class='col-xs-2'>
								<div class="form-group">
							   		<h5>Total Production</h5>
							    	<input  class="form-control">
							  	</div>
							</div>
							<div class='col-xs-2'>
								<div class="form-group">
							   		<h5>Planted Acres</h5>
							    	<input  class="form-control">
							  	</div>
							</div>
							<div class='col-xs-1'>
								<div class="form-group">
							   		<h5>Yield</h5>
							    	<input class="form-control">
							  	</div>
							</div>
							<div class='col-xs-2'>
								<div class="form-group">
							   		<h5>Yield Descriptor</h5>
							    	<select class="form-control" >
										<option value=''>A</option>
										<option value=''>AY</option>
										<option value=''>G</option>
										<option value=''>GY</option>
										<option value=''>NA</option>
										<option value=''>NG</option>
										<option value=''>NV</option>
										<option value=''>V</option>
										<option value=''>VY</option>
										<option value=''>PA</option>
										<option value=''>PG</option>
										<option value=''>PV</option>
										<option value=''>PR</option>
										<option value=''>DA</option>
										<option value=''>DG</option>
										<option value=''>DV</option>
										<option value=''>B</option>
										<option value=''>P</option>
										<option value=''>GP</option>
										<option value=''>PP</option>
										<option value=''>VP</option>
										<option value=''>C</option>
										<option value=''>F</option>
										<option value=''>OG</option>
										<option value=''>Q</option>
										<option value=''>U</option>
										<option value=''>Z</option>
										<option value=''>GW</option>
										<option value=''>NO</option>
										<option value=''>NU</option>
										<option value=''>NW</option>
										<option value=''>OY</option>
										<option value=''>PW</option>
										<option value=''>UY</option>
										<option value=''>VW</option>
										<option value=''>WY</option>
										<option value=''>AC</option>
										<option value=''>AX</option>
										<option value=''>EX</option>
										<option value=''>GC</option>
										<option value=''>GXIX</option>
										<option value=''>NX</option>
										<option value=''>SX</option>
										<option value=''>TX</option>
										<option value=''>VC</option>
										<option value=''>VX</option>
										<option value=''>NR</option>
										<option value=''>R</option>
										<option value=''>RY</option>
										<option value=''>E</option>
										<option value=''>EK</option>
										<option value=''>I</option>
										<option value=''>IL</option>
										<option value=''>L</option>
										<option value=''>N</option>
										<option value=''>NK</option>
										<option value=''>S</option>
										<option value=''>SK</option>
										<option value=''>T</option>
										<option value=''>TK</option>
										<option value=''>X</option>
										<option value=''>J</option>
									</select>
							  	</div>
							</div>
							<div class='col-xs-3'>
								<div class="form-group">
							   		<h5>Record Type</h5>
							    	<select class="form-control">
									  <option>Production Sold/Commercial Storage</option>
									  <option>Farm Stored Measured by Insured</option>
									  <option>Pick/Daily Sales Records</option>
									  <option>Automated Yield Monitoring System</option>
									  <option>Farm Stores Measued by Authorized</option>
									  <option>Livestock Feeding Records</option>
									  <option>Claim for Indemnity</option>
									  <option>Appraisal</option>
									  <option>Field Harvest Records</option>
									  <option>Other</option>
									</select>
							  	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
</div>
<!-- begin esign view -->
<div ng-show='mainViewSelected==false' >
	<div class='row' style='margin-top:30px'>
		<div class='col-xs-2'>
	<button type="button" ng-click='mainViewSelected=true' class="btn btn-default" >
		 Back
	</button>
		</div>
	</div>

	<h3> This page will contain an electonic form that the agent and insured can sign.</h3>
</div>
